.book_book_form_box{
    margin: 0 auto;
    width: 374px;
    border-style: solid;
    border-color: #eaeaea;
    border-width: 4px;
    padding: 0px 20px 27px 26px;
    color: #292828;
    font-size: 18px;
    margin-top: 60px;
}
.book_footer{
    height: 200px;
}

.book_form_title{
    text-align: center;
}

.book_sub_title_text{
    display: inline-block;
    background-color: white;
    position: relative;
    left: 97px;
    top: -10px;
    text-align: center;
    font-size: 23px;
    padding: 7px 38px;
    line-height: 0px;
}
.book_form_login>form{
    padding-top: 24px;
    width: 100%;
    margin:0 auto;
}
.book_input_style{
    display: inline-block;
    width: 100%;
    line-height: 56px;
}
.book_input_style>span{
    display: inline-block;
    float: left;
    font-size: 16px;

}
.book_input_style>input{
    display: Inline;
    float: right;
    width: 210px;
    height: 32px;
    font-size: 20px;
    margin: 9px 0px 0px 0px;
    padding-left: 6px;
}

.book_submit>input{
    padding: 3px;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    float: right;
    height: 45px;
    margin-top: 12px;
}
.book_submit{
    margin:0 auto;
    font-size: 20px;
}

.page{text-align: center;
       margin-top: 50px;
}
.page a,.page span{
    text-decoration: none;
    border:1px solid #70ad47;
    padding: 5px 7px;
    color: #767675;
    cursor: pointer;
}
.page a:hover,.page span:hover{
    color: red;
}
.divcss5{
    margin: 0 auto;width: 100%;height: 100%
}
.border{
    margin: 0 auto;margin-top: 30px;width: 100%;height: 100%;text-align: center;
}

div.divcss5 img{
  height: 280px;
  width: 300;
  float: left;
  margin-top:10px;
  margin-left: 100px;
}

/*style of navi div*/
.navi{
  background-color:#156f1d;
  height:50px;
}


div.navi div{
  float: right;
  margin-top:8px;
  margin-right: 10px;
}

div.navi div h4{
  margin-top: 0px;
  align: right;
}

div.navi div h4 font{
  color: #FFFFFF;
}

/*style of link div*/
.link{
  background-color:#bcf06a;
  height:50px;
}

div.link div{
  float: right;
  margin-top:8px;
  margin-right: -170px;
}

div.link div h4{
  align:right;
  margin-top: 0px;
}

div.link div h4 font{
   color:#FFFFFF;
}

div.link div h4 font button{
  background: #96c83d;
}

/*style of title div*/
.title{
  background-color:#fbf7b5;
  height:150px;
}

div.title div{
  background-color:#79976d;
  display: inline-block;
  height:100px;
  width:300px;
  float: right;
  margin-top:15px;
  margin-right: 50px;
}

div.title div h1{
   text-align: center;
   margin-top: 20px;
   color: #FFFFFF;
   font-size: 50px;
}

/*style of blank div*/
.blank{
  background-color:#156f1d;
  height:20px;
}


/*style of table in index page*/
.books-index{

}

div.books-index table tbody{
  align:center;
  font-size:12px;
}

.tr-odd{
  background-color: #e2efda;
}

div.books-index table tbody tr td button{
  background: #96c83d;
}
